.button-component {
    border: 3px solid #606e85;
    border-radius: 6px;
    color: #97a2b4;
    text-transform: uppercase;
    transition: 0.2s;
    cursor: pointer;
    padding: 6px 20px;
    background-color: transparent;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
  
    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
      color: #3b4363;
    }
  }