.scorebar {
    background-color: white;
    color: black;
    font-size: large;
    padding: 20px 35px;
    text-transform: uppercase;
  
    &__score {
      color: whitesmoke;
      font-size: 2.5rem;
      font-weight: 700;
    }
  }
  
  @media screen and (max-width: 550px) {
    .scorebar {
      padding: 10px 15px;
      font-size: 0.8rem;
  
      &__score {
        font-size: 1.8rem;
        font-weight: 700;
      }
    }
  }